<!DOCTYPE html>
<html>
    <head>
        <title>Style Transfer App</title>
    </head>
    <body>
        <h1 style="color:#093657"> Hello, ML!</h1>

        <div class="container">
        <div class="row">
        <div class="col1">
        <form action="/upload-image" method="POST" enctype="multipart/form-data">

        <div class="form-group">
                  <label>Select image</label>
                  <div class="custom-file">
                    <input type="file" class="custom-file-input"
                     name="image" id="image">
                    <label class="custom-file-label"
                     for="image">Select image...</label>
                  </div>
                </div>
        <button type="submit" class="btn btn-primary">Upload</button>
        </form>
        </div>
        <div class="col2">
        <form action="/upload-image" method="POST" enctype="multipart/form-data">

        <div class="form-group">
                  <label>Select image</label>
                  <div class="custom-file">
                    <input type="file" class="custom-file-input"
                     name="image" id="image">
                    <label class="custom-file-label"
                     for="image">Select image...</label>
                  </div>
                </div>
        <button type="submit" class="btn btn-primary">Upload</button>
        </form>
        </div>
        </div>
        </div>

    </body>
</html>
