<!DOCTYPE html>
<html>
    <head>
        <title>Style Transfer App</title>
    </head>
    <body>
        <h1 style="color:#093657"> Hello, ML!</h1>

        <form method="post" enctype="multipart/form-data">
          <div>
            <label for="image_uploads">Choose images to upload (PNG, JPG)</label>
            <input type="file" id="image_uploads" name="image_uploads" accept=".jpg, .jpeg, .png" multiple>
          </div>
          <div class="preview">
            <p>No files currently selected for upload</p>
          </div>
          <div>
            <button>Submit</button>
          </div>
        </form>
        {% block content %}{% endblock %}
    </body>
</html>
