<!DOCTYPE html>
<html>
    <head>
        <title>Style Transfer App</title>
    </head>
    <body>
        <h1 style="color:#093657"> Welcome to style transfer application!</h1>
        <div>
        <form method="post" enctype="multipart/form-data" action="{{ url_for('content_img') }}">
          <div>
            <label for="image_upload">Choose images to upload (PNG, JPG)</label>
            <input type="file" id="content_img" name="content_img" accept=".jpg, .jpeg, .png" multiple>
          </div>
          <div>
            <button>Submit</button>
          </div>
        </form>
        {% if filename_content %}
          <h4>Content image: <img src="{{url_for('static', filename='content_img.jpg')}}"> </h4>
        {% endif %}
        </div>
        <div>
        <form method="post" enctype="multipart/form-data" action="{{ url_for('style_img') }}">
          <div>
            <label for="image_uploads">Choose images to upload (PNG, JPG)</label>
            <input type="file" id="style_img" name="style_img" accept=".jpg, .jpeg, .png" multiple>
          </div>
          <div>
            <button>Submit</button>
          </div>
        </form>
        {% if filename_style %}
          <h4>Style image: <img src="{{url_for('static', filename='style_img.jpg')}}"> </h4>
        {% endif %}
        </div>
    </body>
</html>
